{% extends 'base.html' %}


{% block content %}
 <div id="hero" class="hero">
        <div class="container">
            <div class="row">

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>You have successfully messaged me. I appreciate your trust in me and will get get back to you shortly. <br/> Your satisfaction is my greatest concern.</strong></p>
  
  <a class="btn btn-info btn-sm" href="{% url 'home_view' %}" role="button">Home</a>
  </p>
</div>
</div>
</div>
</div>

{% endblock content %}